body {
    margin: 0;
    font-family: Arial;
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    background: rgb(176, 221, 251);
    height: 300px;

    .imagem {
        margin: 30px 0 10px 0;
        width: 150px;
        height: 150px;
    }

    .links {
        margin: 30px 40px 0 0;
        width: 400px;
        height: 20px;
        display: flex;
        justify-content: space-evenly;

        .a {
            color: rgb(36, 74, 97);
            font-size: 17px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

#image {
    display: flex;
    align-items: center;
    justify-content: center;

    .imagem {
        margin: 50px 0px 50px 0px;
        width: 75%;
        height: 500px;
        box-sizing: border-box;
    }
}

#sobre {
    height: 580px;

    .titulo {
        font-size: 40px;
        font-weight: bold;
        height: 20px;
        color: rgb(26,26,24);
    }

    .subtitulo {
        color: rgb(92, 129, 158);
        margin-top: 0;
        font-weight: 1;
        height: 20px;
        font-size: 28px;
    }

    .imagem {
        height: 300px;
        width: 500px;
    }

    .paragrafo {
        color: rgb(26,26,24);
        width: 70vw;
        font-size: 20px;
        text-align: justify;
        line-height: 29px;

        .span {
            color: rgb(56, 121, 159);
            font-weight: bold;
        }
    }
}

#servicos {
    background: rgb(29, 128, 193);
    height: 600px;
    color: white;

    .subtitulo {
        margin-top: 50px;
        display: flex;
        align-items: center;
        font-size: 30px;
        height: 40px;
    }

    .paragrafo {
        margin-top: 20px;
        width: 800px;
        font-size: 25px;
        line-height: 1.5;
        text-align: center;

        .span {
            color: rgb(233, 246, 79);
            font-weight: bold;
        }
    }

    .lista {
        font-size: 25px;
        line-height: 2;
    }
}

#corretores {
    height: 610px;

    .subtitulo {
        margin: 70px 0px 0px 0px;
        color: rgb(40, 123, 175);
        font-size: 30px;
    }

    .imagem {
        margin: 30px 0 0 0 ;
        width: 33vw;
    }

    .paragrafo {
        margin: 15px 0 0 0;
        width: 75%;
        height: 100px;
        letter-spacing: 1px;
        font-size: 20px;
        margin-left: 15px;
        color: rgb(26,26,24);

        .span {
            color: rgb(56, 121, 159);
            font-weight: bold;
        }
    }
    
    .a {
        color: rgb(40, 36, 236);
    }
}

#contato {
    background: rgb(29, 128, 193);
    height: 650px;
    color: white;

    .subtitulo {
        font-size: 30px;
    }

    .iframe {
        width: 50%;
        height: 60%;
    }

    .paragrafo {
        background-color: rgb(26,26,24);
        margin: 30px 0 0 0;
        padding: 15px 25px 15px 15px;
        font-size: 17px;

        .span {
            color: rgb(243, 236, 57);
            font-weight: bold;
        }
    }

    .lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .item {
            background-color: white;
            color: rgb(104, 139, 158);
            text-align: center;
            border-radius: 5px;
            padding: 3px;
            margin-top: 10px;
        }
    }
}